# Data Science Notebook

## Introduction
This notebook is a demonstration of various data science concepts and tools, including programming languages, libraries, and basic arithmetic operations.


## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- TensorFlow
- Scikit-learn

## Data Science Tools

| Tool Name       | Usage                          |
|-----------------|--------------------------------|
| Jupyter Notebook| Interactive coding environment |
| RStudio         | Integrated Development for R   |
| Apache Hadoop   | Distributed storage and computing|
| TensorFlow      | Machine learning framework     |
| Tableau         | Data visualization tool        |

## Arithmetic Expression Examples
In this section, we will demonstrate basic arithmetic operations such as multiplication and addition.

In [1]:
# Multiplying and adding numbers
a = 5
b = 3
result = (a * b) + 2
result

17

In [2]:
# Converting minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Understand basic data science languages
- Explore common data science libraries
- Demonstrate arithmetic operations
- Practice using Jupyter Notebooks